* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: #1465bb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  padding: 2rem;
}

.logo {
  color: #fff;  	
  font-size: 38px;
}

.menu ul {
  color: #fff;
  display: flex;
  gap: 40px;
  font-size: 1.2rem;
}

.hero {
  height: 500px;
  position: relative;
}

.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-effect {
  background-color: #003785;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .6;
}

.hero form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
  z-index: 2;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  padding-top: 6rem;
}

.hero form label {
  color: #fff;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.hero form input[type='email'] {
  border-radius: 10px;
  border: none;
  outline: none;
  height: 35px;
  padding-left: .5rem;
}

.hero form input[type='submit'] {
  background-color: #003785;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 15px;
}

.description-author {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 1200px;
  margin: 4rem auto;
}

.description-author-content {
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
}

.description-author-img img {
  border-radius: 50%;
}

.especialidades {
  padding: 4rem 1rem;
  background-color: #1465bb;
  margin-bottom: 4rem;
}

.especialidades .title {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.lista-especialidades {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.box-especialidades {
  color: #fff;
  background-color: #003785;
  max-width: 300px;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 10px;
}

.box-especialidades h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.box-especialidades p {
  font-size: 1rem;
}

.depoimentos-servicos {
  display: flex;
  max-width: 1200px;
  margin: 4rem auto;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;
}

.depoimentos {
  text-align: center;
}

.depoimentos h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.box-depoimentos {
  margin-bottom: 1rem;
  color: #333;
}

.servicos {
  text-align: center;
}

.servicos h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.box-servicos {
  margin-bottom: 1rem;
  color: #333;
}

.footer {
  background-color: #1465bb;
  color: #fff;
  text-align: center;
  padding: 4rem;
  font-size: 1.3rem;
}

.not-found {
  background-color: #1465bb;
  color: #fff;
  margin: 2rem 0;
  padding: 8rem 1rem;
}

.not-found h2 {
  font-size: 2rem;
  text-align: center;
}

.not-found a {
  text-align: center;
  display: block;
  background-color: #003785;
  padding: 1rem 2rem;
  border-radius: 15px;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contato {
  background-color: #1465bb;
  margin: 2rem 0;
  padding: 4rem 1rem;
}

.contato form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.contato form input {
  height: 40px;
  border-radius: 15px;
  margin-bottom: .5rem;
  border: 2px solid transparent;
  padding-left: 1rem;
}

.contato form textarea {
  height: 150px;
  border-radius: 15px;
  margin-bottom: .5rem;
  border: 2px solid transparent;
  padding-left: 1rem;
}

.contato form input[type="submit"] {
  background-color: #003785;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .5rem 0;
  cursor: pointer;
}

.header-noticias {
  width: 100%;
  background-color: #333864;
  padding: 40px 1rem;
}

.header-noticias h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.container-portal {
  padding: 50px 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 1rem;
  display: flex;
}
.sidebar {
  max-width: 30%;
  width: 100%;
}

.box-content-sidebar {
  background-color: #ddd;
  padding: 15px;
  color: #333864;
  margin-bottom: 30px;
}

.box-content-sidebar h3 {
  font-size: 18px;
  font-weight: 400;
}

.box-content-sidebar input[type="text"] {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  padding-left: 8px;
  margin: 10px 0;
}

.box-content-sidebar select {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  padding-left: 8px;
  margin: 10px 0;
  color: #333864;
  outline: none;
  cursor: pointer;
}

.box-content-sidebar input[type="submit"] {
  cursor: pointer;
  background-color: #f40b5c;
  color: #fff;
  border: none;
  width: 115px;
  height: 35px;
  font-weight: 700;
  margin: 10px 0;
}

.box-content-sidebar:nth-of-type(3) {
  text-align: center;
}

.box-content-sidebar h2 {
  margin-bottom: 10px;
  font-weight: 500;
}

.box-content-sidebar > img {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

.conteudo-portal {
  max-width: 70%;
  width: 100%;
  padding: 1rem 2rem;
}

.conteudo-portal > h2 {
  color: #333864;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 30px;
}

.conteudo-portal > h2 > span {
  border-bottom: 3px solid #333864;
}

.box-single-conteudo {
  margin-bottom: 30px;
  padding: 15px 0;
  border-bottom: 1px solid #646464;
}

.box-single-conteudo h2 {
  color: #646464;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}

.box-single-conteudo p {
  color: #646464;
  font-size: 15px;
  margin-bottom: 10px;
}

.leia-mais {
  background-color: #00b95c;
  display: block;
  padding: 3px 5px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  width: 113px;
  height: 35px;
  line-height: 30px;
  text-align: center;
}

.paginacao {
  display: flex;
  gap: 1rem;
}

.paginacao a {
  padding: 6px 8px;
  background-color: #646464;
  color: #fff;
  font-size: 18px;
}

.paginacao .active-page {
  background-color: #333864;
}

.noticia-single {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 1rem;
  color: #646464;
}

.noticia-single header {
  background-color: transparent;
  margin-bottom: 30px;
}

.noticia-single header h1 {
  font-size: 50px;
  padding: 2rem 1rem 0 1rem;
  color: #333864;
  text-align: center;
  border-bottom: 2px solid #646464;
}

.noticia-single article {
  text-align: center;
}

.noticia-single h2,
.noticia-single h3 {
  margin: 10px 0;
  color: #333864;
}

.noticia-single p {
  margin: 10px 0;
}

.noticia-single article ul {
  list-style: initial;
  list-style-position: inside;
  width: auto;
  margin: 10px auto;
}

.noticia-single img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}